<!doctype html>
<html lang="en" ng-app="icebergMovies">
<head>
    <meta charset="UTF-8">
    <title>Iceberg Search</title>

    <link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">

    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Iceberg Movies</a>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container" ng-controller="MainController as main">
    <div class="row search-box">
        <div class="form-group">
            <input type="text" id="searchString" name="searchString" class="search-input form-control" placeholder="Search movies..." ng-model="searchString">
        </div>
        <div id="messagebox" class="alert alert-info" ng-show="main.searchHint">{{main.searchHint}}</div>
    </div>

    <div class="row search-results" ng-show="main.movies.length">
        <div class="search-summary col-lg-12">
            Showing {{main.movies.startItem}} to {{main.movies.endItem}} of {{main.movies.matchedItems}} movies found
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3" ng-repeat="movie in main.movies">
            <div class="thumbnail">
                <img src="http://placehold.it/320x300" alt="">
                <div class="caption">
                    <div class="movie-title">{{movie.title}}</div>
                    <div class="movie-year">
                        <strong>Released:</strong> {{movie.year}}
                    </div>
                    <div class="movie-duration">
                        <strong>Duration:</strong> {{movie.duration / 60}} mins
                    </div>
                    <div class="movie-actors">
                        <strong>Actors:</strong> {{main.getActorList(movie.actors.list)}}
                    </div>

                    <div class="rating">
                        <star-rating ng-model="movie.rating" readonly="1" max="5"></star-rating>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <nav class="text-center pager" ng-show="main.movies.length">
        <div class="row pager-summary">
            Displaying page {{main.movies.pageNumber}} of {{main.movies.totalPages}}
        </div>
        <ul class="pagination">
            <li class="pager-previous" ng-class="{disabled: main.movies.pageNumber == 1}">
                <a href="#" aria-label="Previous" ng-click="main.getResultPage(main.movies.pageNumber-1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="pager-item" ng-repeat="t in main.getTimes(main.movies.totalPages) track by $index" ng-class="{active: $index+1==main.movies.pageNumber}">
                <a ng-click="main.getResultPage($index+1)">{{$index+1}}</a>
            </li>
            <li class="pager-next" ng-class="{disabled: main.movies.pageNumber == main.movies.totalPages}">
                <a href="#" aria-label="Next" ng-click="this.hasClass('disabled') || main.getResultPage(main.movies.pageNumber+1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!-- Bower Components -->
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-mocks/angular-mocks.js"></script>
<script src="/bower_components/angular-route/angular-route.min.js"></script>
<script src="/bower_components/restangular/dist/restangular.min.js"></script>
<script src="/bower_components/lodash/lodash.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- App Files -->
<script src="js/app.js"></script>

<!-- Services -->
<script src="js/app/api/api-service.js"></script>
<script src="js/app/movies/movie-service.js"></script>

<!-- Directives -->
<script src="js/app/movies/starRating-directive.js"></script>

<!-- Controllers -->
<script src="js/app/main/main-controller.js"></script>

</body>
</html>
